* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

p {
    color: #555;
    font-family: verdana;
}

img {
    width: 100%;
    object-fit: cover;
}

/*************** NAVIGATION BAR ************************/
.nav {
    background-color: #383E4C;
    position: fixed;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    z-index: 999999;
    text-align: center;
    padding: 5px 0;
    /* display: flex; */
   
}

.nav a,
.icon {
    color: #FFF;
    background-color: #383E4C;
    padding: 14px 16px;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    z-index: 10;
}

.nav a {
    border: 1px solid #fff;
    margin: 8px;
    height: 15px;
    line-height: 15px;
}

.icon {
    display: none;
}

a:hover {
    background-color: #49505F;
    cursor: pointer;
}

/************************* HERO SECTION *************************/

.hero {
    height: 300px;
    background-image: url("https://images.pexels.com/photos/1170572/pexels-photo-1170572.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    text-align: center;
}

h1,
h2:not(#banner-title) {
    color: #FFF;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 100px;
}

.wrapper {
    margin-top: 50px;
}

/****************** COLUMN LAYOUT ************************/
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* flex-wrap: column; */
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .col sp-3 {
    float: left;
    width: 25%;
    padding: 20px;
  }

.col {
    margin: 30px 15px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #F2F2F2;
    display: inline-block;
}

.col p {
    background-color: #F2F2F2;
    padding: 10px;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
}

h3 {
    color: #666666;
    margin-top: 10px;
    text-align: center;
}

.sp-1 {
    margin-top: 30px;
    width: 86%;
}

.sp-1 img {
    max-height: 500px;
}

.sp-1 p {
    text-align: left;
}

.sp-2 {
    text-align: center;
    width: 40%;
}

.sp-2 img,
.sp-3 img {
    max-height: 250px;
}

.sp-3 {
    width: 26%;
}

.sp-3 img {
    height: 180px;
}

.sp-4 {
    background-color: #F2F2F2;
    width: 20%;
}

.sp-4 img {
    height: 250px;
}

/********************** BUTTONS ************************/

.btn {
    height: 40px;
    width: 150px;
    border: none;
    color: #FFF;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    font-weight: bold;
}

.plain {
    background-color: #FFFFFF;
    border: 1px solid gray;
    color: #666666;
}

#green-btn {
    background-color: #178A27;
}

.green-clr {
    color: #178A27;
}

#blue-btn {
    background-color: #1686C1;
}

.blue-clr {
    color: #1686C1;
}

#red-btn {
    background-color: #852406;
}

.red-clr {
    color: #852406;
}


/*********************** BANNER SECTION ******************************/


.banner {
    background: url("https://bit.ly/2HgDjq1") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 250px;
    margin: 50px 0;
    text-align: center;
    color: #FFF;
}

#banner-title {
    padding-top: 50px;
}

.banner p {
    color: #FFF;
    width: 50%;
    margin: auto;
}


/************************* CONTACT FORM ****************************/

.contact-form-bg {
    background: url("http://blog.ryanair.com/wp-content/uploads/2016/02/ibiza-sunset.jpg") no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 680px;
    -webkit-filter: blur(1px);
    z-index: 0;
    margin-top: 80px;
}

.contact-form {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #101010;
    margin-top: 80px;
}

.contact-form h2 {

    margin: 50px 0 30px 0;
    font-size: 36px;
    font-weight: 100;
}

.contact-form p,
input,
textarea {
    background-color: #555;
    background-color: rgba(226, 223, 216, 0.5);
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.contact-form p {
    width: 48%;
}

.contact-form .row {
    width: 50%;
    margin: auto;
}

.contain {
    width: 50%;
    margin: auto;
}

.inputs,
.text {
    width: 50%;
}

.text {
    margin-left: 15px;
}

input {
    width: 90%;
}

.darker {
    color: #101010;
    padding: 10px;
}

input,
textarea {
    padding: 0 10px;
    display: block;
    height: 35px;
    margin: 15px auto;
    font-size: 16px;
    letter-spacing: 2px;
}

input::placeholder {
    color: #101010;
}

textarea {
    height: 150px;
    width: 90%;
}

.send {
    background-color: #262628;
    color: #FFF;
    height: 45px;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}


/* 
 
@media screen and (max-width: 992px) {
  .col sp-3{
    width: 90%;
    flex-direction: column;
    
  }
  .row{
      display: flex;
      flex-wrap: wrap;

      
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) { */
  /* .col sp-3 {
    width: 100%;
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
  }
  .row{
      flex-wrap:wrap;
      height: 250px;
      
  }
} */
/* @media only screen and (max-width: 770px){
    .row, .nav {   
          /* For mobile phones: */
       
    /* width: 100%;
  }
} */
        


@media (min-width: 600px) and (max-width: 770px ) {
    .row, .nav {   
    flex-wrap: wrap;
      flex-direction: column;
    
    }
    .row{
        width: 300%;
    }
  }

  @media (min-width: 450px) and (max-width: 600px ) {
    .row, .nav {   
    flex-wrap: wrap;
      flex-direction: column;
    
    }
    .row{
        width: 300%;
    }
  }
@media (min-width: 350px) and (max-width: 450px ) {
    .row, .nav {
    flex-wrap: wrap;
      flex-direction: column;
    }
    .row{
        width: 300%;
    }
  }
  @media (min-width: 100px) and (max-width: 350px ) {
    .row, .nav {
    flex-wrap: wrap;
      flex-direction: column;
    }
    .row{
        width: 300%;
    }
  }
